<div class="row margin-0" id="main-content">
  <section style="padding-bottom: 80px;"  id="fawennigao">
    <div class="section-title">
      发文拟稿
      <!--<i class="iconfont icon-arrowDown pull-right"></i>-->
    </div>
    <div>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab-pane1">
          <div class="xtt-table xtt-form">
            <div class="wrapper padding-bottom-10" style="padding: 0px;">
              <div class="table-responsive">
                <table class="table table-striped b-t b-light">
                  <tbody>
                    <tr>
                    </tr>
                    <tr>
                      <td>
                        标题
                      </td>
                      <td colspan="3">
                        <select name="" class="form-control ">
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>拟稿部门</td>
                      <td><input type="text" class="form-control "></td>
                      <td>文种</td>
                      <td colspan="3">
                        <select name="" class="form-control ">
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>拟稿人</td>
                      <td><input type="text" class="form-control "></td>
                      <td>校对人</td>
                      <td>
                        <input type="text" class="form-control ">
                      </td>
                    </tr>

                    <tr>
                      <td width="180">发文份数</td>
                      <td>
                        <input type="text" class="form-control">
                      </td>
                      <td width="120">发文日期</td>
                      <td width="340" class="text-l">
                        2017-03-25
                      </td>
                    </tr>

                    <tr>
                      <td>秘密等级</td>
                      <td>
                        <select name="" class="form-control ">
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                        </select>
                      </td>
                      <td>等级程度</td>
                      <td class="zj-radio">
                        <ul>
                          <li>
                            <input type="radio" name="urgent"><span>正常</span>
                          </li>
                          <li>
                            <input type="radio" name="urgent"><span>重要</span>
                          </li>
                          <li>
                            <input type="radio" name="urgent"><span>紧急</span>
                          </li>
                        </ul>
                      </td>
                    </tr>

                    <tr>
                      <td>主题词</td>
                      <td colspan="3">
                        <select name="" class="form-control ">
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                        </select>
                      </td>


                    </tr>
                    <tr>
                      <td>发布范围</td>
                      <td colspan="3">
                        <div class="sign-select ">
                          <div class="noRadius form-control">
                            <select name="" class="form-control">
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                          </div>
                          <button class="glyphicon glyphicon-user btn-radius"></button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>正文</td>
                      <td colspan="3">
                        <div class="sign-file">
                          <input type="text" class="form-control">
                          <button type="button">
                                                <i class="glyphicon glyphicon-folder-open margin-right-5"></i>选择文件
                                            </button>
                        </div>

                      </td>
                    </tr>
                    <tr>
                      <td>主送</td>
                      <td colspan="3">
                        <select name="" class="form-control ">
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>抄送</td>
                      <td colspan="3">
                        <select name="" class="form-control ">
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>附件</td>
                      <td colspan="3">
                        <div class="sign-file">
                          <input type="text" class="form-control">
                          <button type="button">
                                                <i class="glyphicon glyphicon-folder-open margin-right-5"></i>选择文件
                                            </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>是否部门会签</td>
                      <td colspan="3" class="zj-radio text-l">
                        <ul>
                          <li>
                            <input type="radio" name="urgent" /><span> 是</span>
                          </li>
                          <li>
                            <input type="radio" name="urgent" /><span> 否</span>
                          </li>
                        </ul>
                      </td>


                    </tr>
                    <tr>
                      <td>前置项目</td>
                      <td><input type="text" class="form-control "></td>
                      <td>会签人</td>
                      <td>
                        <div class="sign-select change-w">
                          <div class="noRadius form-control">
                            <select name="" class="form-control">
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                    <option></option>
                                                </select>
                          </div>
                          <button class="glyphicon glyphicon-user"></button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>分管领导</td>
                      <td>
                        <select name="" class="form-control ">
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                        </select>
                      </td>
                      <td>签发领导</td>
                      <td>
                        <select name="" class="form-control ">
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                            <option></option>
                                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>办公室意见</td>
                      <td colspan="3"><textarea name="textarea" id="textarea1" cols="50" rows="1" class="form-control" style="resize:vertical"></textarea></td>
                    </tr>
                    <tr>
                      <td>会签部门意见</td>
                      <td colspan="3"><textarea name="textarea" id="textarea1" cols="50" rows="1" class="form-control" style="resize:vertical"></textarea></td>
                    </tr>
                    <tr>
                      <td>分管领导意见</td>
                      <td colspan="3"><textarea name="textarea" id="textarea1" cols="50" rows="1" class="form-control" style="resize:vertical"></textarea></td>
                    </tr>
                    <tr>
                      <td>领导意见</td>
                      <td colspan="3"><textarea name="textarea" id="textarea1" cols="50" rows="1" class="form-control" style="resize:vertical"></textarea></td>
                    </tr>

                  </tbody>
                </table>
                <div class="form-group margin-bottom-0 table-footer">
                  <div class="padding-top-10 padding-bottom-30 td-code">
                    <button type="button" class="btn  btn-keep margin-right-15">保存</button>
                    <button type="button" class="btn btn-success btn-code">提交</button>
                  </div>
                  <div class="make-code wrapper">
                    <div class="">文件编码已生成</div>
                    <input type="text" value="23SD-87HH-76JK" class="form-control">
                    <img src="../../assets/images/timg.jpeg" class="code" alt="">
                    <div>文件二维码</div>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>