<div class="row margin-0" id="main-content">
  <div class="col-md-12 row">
    <h4 class="col-md-12">工作人员管理</h4>
    <div class="col-md-12 parking ">
      <div class="col-md-9 tab clearPadding">
        <p><span class="iconfont icon-dingwei"></span>光华路SOHO地下停车场</p>
      </div>
      <div class="col-md-3 text clearPadding">
        <i class="iconfont icon-sousuo-sousuo seach"></i>
        <input type="text" placeholder="请输入搜索车辆" class="col-md-12 clearPadding">
      </div>
    </div>
    <div class="car">
      <div class="stopCarbox col-md-12 clearPadding">
        <div class="col-md-3 col-xs-12 stopCar">
          <div class="clearPadding col-md-12 card">
            <div class="touxiang">
              <img src="./assets/images/touxiang1.png" alt="">
            </div>
            <div class="name">
              <p class="clearMargin">于静蕾</p>
              <p class="clearMargin">18523568909</p>
            </div>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div><div class="col-md-3 col-xs-12 stopCar">
          <div class="clearPadding col-md-12 card">
            <div class="touxiang">
              <img src="./assets/images/touxiang2.png" alt="">
            </div>
            <div class="name">
              <p class="clearMargin">于静蕾</p>
              <p class="clearMargin">18523568909</p>
            </div>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div><div class="col-md-3 col-xs-12 stopCar">
          <div class="clearPadding col-md-12 card">
            <div class="touxiang">
              <img src="./assets/images/touxiang3.png" alt="">
            </div>
            <div class="name">
              <p class="clearMargin">于静蕾</p>
              <p class="clearMargin">18523568909</p>
            </div>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div><div class="col-md-3 col-xs-12 stopCar">
          <div class="clearPadding col-md-12 card">
            <div class="touxiang">
              <img src="./assets/images/touxiang4.png" alt="">
            </div>
            <div class="name">
              <p class="clearMargin">于静蕾</p>
              <p class="clearMargin">18523568909</p>
            </div>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
      </div><div class="stopCarbox col-md-12 clearPadding">
        <div class="col-md-3 col-xs-12 stopCar">
          <div class="clearPadding col-md-12 card">
            <div class="touxiang">
              <img src="./assets/images/touxiang5.png" alt="">
            </div>
            <div class="name">
              <p class="clearMargin">于静蕾</p>
              <p class="clearMargin">18523568909</p>
            </div>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div><div class="col-md-3 col-xs-12 stopCar">
          <div class="clearPadding col-md-12 card">
            <div class="touxiang">
              <img src="./assets/images/touxiang6.png" alt="">
            </div>
            <div class="name">
              <p class="clearMargin">于静蕾</p>
              <p class="clearMargin">18523568909</p>
            </div>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div><div class="col-md-3 col-xs-12 stopCar">
          <div class="clearPadding col-md-12 card">
            <div class="touxiang">
              <img src="./assets/images/touxiang7.png" alt="">
            </div>
            <div class="name">
              <p class="clearMargin">于静蕾</p>
              <p class="clearMargin">18523568909</p>
            </div>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div><div class="col-md-3 col-xs-12 stopCar">
          <div class="clearPadding col-md-12 card">
            <div class="touxiang">
              <img src="./assets/images/touxiang8.png" alt="">
            </div>
            <div class="name">
              <p class="clearMargin">于静蕾</p>
              <p class="clearMargin">18523568909</p>
            </div>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
      </div>
      <div class="paging">

      </div>
    </div>
  </div>
</div>
