<div class="row margin-0" id="main-content">
  <div class="note animated-panel zoomIn">
    <div class=" btn note-contain box-shadow-dark">
      <span class="pull-left">您有4条便签</span>
      <span class="pull-right">选项<span class="caret"></span></span>
    </div>

    <div class="note-content row" id="con-node-list" style="position: relative; height: 482px;">
      <div class="col-sm-12 note-edit animated-panel zoomIn">
        <a href="" class="clearfix note-bar box-shadow-dark" data-toggle="modal" data-target="#myModal">
          <img class="note-avater" src="./assets/images/touxiang.jpg" alt="">
          <span class="note-message">请输入便签信息</span>
          <i class="pull-right iconfont icon-bi" style="width: 27px;
    height: 27px;
    line-height: 27px;
    background-color: #eee;
    border-radius: 50%;
    font-size: 15px;
    margin-top: 13px;
    margin-right: 10px;
    color: #aaa;"></i>
        </a>
      </div>
      <div class="note-list col-md-4 col-sm-6  animated-panel zoomIn">
        <div class="note-list-line box-shadow-dark">
          <div class="tools">
            <a href="#" class="iconfont icon-sharing-arrow-out-of-box margin-right-10" data-toggle="modal"
               data-target="#share"></a>
            <a href="#" class="iconfont icon-lajixiang margin-right-10"></a>
          </div>
          <div class="note-bar clearfix">
            <img class="note-avater" src="./assets/images/touxiang.jpg">
            <span class="note-msg">22344444@qq.com</span>
            <p class="note-time pull-right" style="margin-right: 10px;line-height: 50px;padding-top: 0">17/3/20</p>
          </div>
          <p class="note-list-content ">市发改委中央预算内投资补助备选项目、吉林省政府性资金补助备选项目等报省审批项目的...</p>
        </div>
      </div>
      <div class="note-list col-md-4 col-sm-6 animated-panel zoomIn">
        <div class="note-list-line box-shadow-dark">
          <div class="tools">
            <a href="#" class="iconfont icon-sharing-arrow-out-of-box margin-right-10" data-toggle="modal"
               data-target="#share"></a>
            <a href="#" class="iconfont icon-lajixiang margin-right-10"></a>
          </div>
          <div class="note-bar clearfix">
            <img class="note-avater" src="./assets/images/touxiang.jpg">
            <span class="note-msg">22344444@qq.com</span>
            <p class="note-time pull-right" style="margin-right: 10px;line-height: 50px;padding-top: 0">17/3/20</p>
          </div>
          <p class="note-list-content">中央、省预算内资金、专项资金及其它国家级、省级扶持资金、基金申报的初审</p>
        </div>
      </div>
      <div class="note-list col-md-4 col-sm-6 animated-panel zoomIn">
        <div class="note-list-line box-shadow-dark">
          <div class="tools">
            <a href="#" class="iconfont icon-sharing-arrow-out-of-box margin-right-10" data-toggle="modal"
               data-target="#share"></a>
            <a href="#" class="iconfont icon-lajixiang margin-right-10"></a>
          </div>
          <div class="note-bar clearfix">
            <img class="note-avater" src="./assets/images/touxiang.jpg">
            <span class="note-msg">22344444@qq.com</span>
            <p class="note-time pull-right" style="margin-right: 10px;line-height: 50px;padding-top: 0">17/3/16</p>
          </div>
          <p class="note-list-content">市直中职学校学生注册、转入、退学、休学、复学审核</p>
        </div>
      </div>
      <div class="note-list col-sm-6 col-md-4  animated-panel zoomIn">
        <div class="note-list-line box-shadow-dark">
          <div class="tools">
            <a href="#" class="iconfont icon-sharing-arrow-out-of-box margin-right-10" data-toggle="modal"
               data-target="#share"></a>
            <a href="#" class="iconfont icon-lajixiang margin-right-10"></a>
          </div>
          <div class="note-bar clearfix">
            <img class="note-avater" src="./assets/images/touxiang.jpg">
            <span class="note-msg">22344444@qq.com</span>
            <p class="note-time pull-right" style="margin-right: 10px;line-height: 50px;padding-top: 0">17/3/10</p>
          </div>
          <p class="note-list-content">对外科技交流合作中确需提供国家科技秘密的审批</p>
        </div>
      </div>

    </div>

  </div>

  <!-- modal -->
  <div class="modal fade animated-panel zoomIn" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" style="width:500px;">
      <div class="modal-content">
        <div class="modal-header note-content-head">
          <h4 class="modal-title" id="myModalLabel">2394199201: </h4>
        </div>
        <div class="modal-body note-text">
          <textarea class="note-con" placeholder="请输入便签信息"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn note-submit">发布</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>

  <div class="modal fade animated-panel zoomIn" id="share" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" style="width:300px;height: 500px">
      <div class="modal-content">
        <div class="modal-header note-content-head">
          <span class="modal-title" id="myModalLabel">分享到: </span>
        </div>
        <div class="modal-body note-text">
          <span class="glyphicon glyphicon-search"></span>
          <input type="text" value="请输入分享 地址 联系人">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn note-submit">发送</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal -->
  </div>


</div>
