<div class="row margin-0" id="main-content">
  <div class="col-md-12 row">
    <h4>政策法规</h4>
  </div>
  <div class="col-md-12 box clearPadding">
    <ul>
      <li><p class="col-md-10 col-xs-8 clearMargin">长春市机动车停车收费标准</p><span class="col-md-2 col-xs-4">2017-03-28</span></li>
      <li><p class="col-md-10 col-xs-8 clearMargin">长春市发改[2009] 1707号 - 关于加强本市机动车停放收费管理通知</p><span class="col-md-2 col-xs-4">2017-03-28</span></li>
      <li><p class="col-md-10 col-xs-8 clearMargin">长春市发改[2017] 2291号 - 关于调整本市非居住区停车占道收费标注的通知</p><span class="col-md-2 col-xs-4">2017-03-28</span></li>
      <li><p class="col-md-10 col-xs-8 clearMargin">长春市发改[2017] 192号 - 长春市城市道路停车占道费征收管理办法</p><span class="col-md-2 col-xs-4">2017-03-28</span></li>
      <li><p class="col-md-10 col-xs-8 clearMargin">长春市机动车道路停车秩序管理办法</p><span class="col-md-2 col-xs-4">2017-03-28</span></li>
      <li><p class="col-md-10 col-xs-8 clearMargin">长春市机动车公共停车场管理办法</p><span class="col-md-2 col-xs-4">2017-03-28</span></li>
    </ul>
  </div>
</div>
