<div class="row margin-0" id="main-content">
  <div class="col-md-12 row">
    <h4 class="col-md-12">停车场管理</h4>
    <div class="col-md-12 parking ">
      <div class="col-md-9 tab clearPadding">
        <span class="active">全部</span>
        <span>地下</span>
        <span>地上</span>
        <span>立体</span>
      </div>
      <div class="col-md-3 text clearPadding">
        <i class="iconfont icon-sousuo-sousuo seach"></i>
        <input type="text" placeholder="请输入搜索车辆" class="col-md-12 clearPadding">
      </div>
    </div>
    <div class="car">
      <div class="stopCarbox col-md-12 clearPadding">
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche1.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche2.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche3.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche4.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
      </div>
      <div class="stopCarbox col-md-12 clearPadding">
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche5.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche6.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche7.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche8.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
      </div>
      <div class="stopCarbox col-md-12 clearPadding">
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche9.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche10.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche11.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <img src="./assets/images/tingche12.png" alt="">
          <div class="col-md-12 title">
            <p class="clearMargin">光华路SOHO地下停车场</p>
            <p class="clearMargin">型号：<span>A1234</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
      </div>
      <div class="paging">

      </div>
    </div>
  </div>
</div>
