.clearPadding{
  padding: 0;
}
.navlists{
  height: 82px;
}
.navlists li{
  line-height: 80px;
  border-bottom: 1px solid #f3f3f3;
}
.navlists li i{
  width: 30%;
  line-height: 82px;
  display: inline-block;
  text-align: center;
  font-size: 20px;
}
.navlists li a{
  width: 70%;
  height: 100%;
  display: inline-block;
  text-align: left;
}
.navlists li i:nth-of-type(1){
  font-size: 12px;
}

