
.bar {
  position: absolute;
  top: 0;
  width: 5px;
  height: 100%;
  z-index: 130;
  left: 0px; }

.bar1 {
  background-color: #fff; }

.bar2 {
  background-color: #ee5154; }

.bar3 {
  background-color: #f9d037; }

.bar4 {
  background-color: #fca541; }

.bar5 {
  background-color: #21a6e8; }

.bar6 {
  background-color: #3bf9b5; }

.bar7 {
  background-color: #3b8dfb; }

.bar8 {
  background-color: #fc6948; }

.bar9 {
  background-color: #b557fb; }
