<div id="sideNav">
  <div class="nav">
    <div class="row">
      <ul class="col-md-12 navlists clearPadding">
        <li class="text-center"><i class="iconfont icon-yunxiangmugongdanweixintubiao-"></i><a routerLink="map">规划设计</a></li>
        <li class="text-center"><i class="iconfont icon-guanli"></i><a routerLink="ParkingsManagement">停车场管理</a></li>
        <li class="text-center"><i class="iconfont icon-tingchewei"></i><a routerLink="ParkingManagement">停车位管理</a></li>
        <li class="text-center"><i class="iconfont icon-gongzuorenyuan"></i><a routerLink="PersonnelManagement">工作人员管理</a></li>
        <li class="text-center"><i class="iconfont icon-guanggao"></i><a routerLink="AdvertisingManagement">广告管理</a></li>
        <li class="text-center"><i class="iconfont icon-shourutongji"></i><a routerLink="IncomeStatistics">收入统计</a></li>
        <li class="text-center"><i class="iconfont icon-zhengce"></i><a routerLink="PoliciesRegulations">政策法规</a></li>
      </ul>
    </div>
  </div>
</div>
