<div id="notice" style="" class="box-shadow-dark" style="height: 100%;">
  <div class="notice-heading">
    <h2>通知公告</h2>

  </div>
  <section>
    <h3>
      <span class="dot" style="background-color: #82dbbf"></span> 最新通知
    </h3>
    <ul>
      <li><a href="#" class="text-overflow">1、长春市人民政府办公厅关于印发推进公共停车场投资建设实施办法的通知</a>
      </li>
      <li><a href="#" class="text-overflow">2、22日起长春火车站区域禁止车辆停放</a>
      </li>
    </ul>
  </section>
  <section>
    <h3>
      <span class="dot" style="background-color: #7f9dd0 "></span> 行业动态
    </h3>
    <ul>
      <li><a href="#" class="text-overflow">1、2016-2017年长春停车收费标准及管理办法</a>
      </li>
      <li><a href="#" class="text-overflow">2、长春市政府办公厅下发《关于印发推进公共停车场投资建设实施办法的通知》</a>
      </li>
      <li><a href="#" class="text-overflow">3、建设智慧长春——停车场和停车泊位数字化动态管理</a>
      </li>
    </ul>
  </section>
  <section>
    <h3>
      <span class="dot" style="background-color: #f46a58"></span> 行业通告
    </h3>
    <ul>
      <li><a href="#" class="text-overflow">1、关于长春市路边停车收费标准的通知</a>
      </li>
      <li><a href="#" class="text-overflow">2、长春朝阳区发布关于停车泊位施划项目目标公告</a>
      </li>
      <li><a href="#" class="text-overflow">3、长春市机动车停车场管理办法</a>
      </li>
    </ul>
  </section>
</div>