<div id="notice" style="" class="box-shadow-dark">
  <div class="notice-heading">
    <h2>通知公告</h2>

  </div>
  <section>
    <h3>
      <span class="dot" style="background-color: #82dbbf"></span> 业务通知
    </h3>
    <ul>
      <li><a href="#" class="text-overflow">关于公开遴选基金托管银行的公告</a>
        <span class="date pull-right">12:08</span>
      </li>
      <li><a href="#" class="text-overflow">关于清理规范市政府部门行政审批中介服务事项的决定</a>
        <span class="date pull-right">12:08</span>
      </li>
    </ul>
  </section>
  <section>
    <h3>
      <span class="dot" style="background-color: #7f9dd0 "></span> 政务大厅通知
    </h3>
    <ul>
      <li><a href="#" class="text-overflow">4月起停发尚未认证的企业退休人员养老保险待遇</a>
        <span class="date pull-right">12:08</span>
      </li>
      <li><a href="#" class="text-overflow">我市调整住房公积金贷款政策公告</a>
        <span class="date pull-right">12:08</span>
      </li>
    </ul>
  </section>
  <section>
    <h3>
      <span class="dot" style="background-color: #f46a58"></span> 扶贫通知
    </h3>
    <ul>
      <li><a href="#" class="text-overflow">关于对2017年第一季度“江城好人”进行公示的公告</a>
        <span class="date pull-right">12:08</span>
      </li>
      <li><a href="#" class="text-overflow">吉林市脱贫攻坚智囊团舒兰组脱贫产业调研会议召开</a>
        <span class="date pull-right">12:08</span>
      </li>
    </ul>
  </section>
  <section>
    <h3>
      <span class="dot" style="background-color: #f49e58 "></span> 政策法规通知
    </h3>
    <ul>
      <li><a href="#" class="text-overflow">吉林市人民政府关于印发《吉林市招商引资政策》的通知</a>
        <span class="date pull-right">12:08</span>
      </li>
      <li><a href="#" class="text-overflow">吉林市人民政府关于进一步规范政府和社会资本合作工作的通知</a>
        <span class="date pull-right">12:08</span>
      </li>
    </ul>
  </section>
  <section>
    <h3>
      <span class="dot" style="background-color: #ff6317 "></span> 个人企业通知
    </h3>
    <ul>
      <li><a href="#" class="text-overflow">吉林市关于查处违法广告的通告</a>
        <span class="date pull-right">12:08</span>
      </li>
      <li><a href="#" class="text-overflow">企业简易注销新规通知</a>
        <span class="date pull-right">12:08</span>
      </li>
    </ul>
  </section>
</div>