<section class="xtt-table">
  <div class="section-title">证照维护管理<i class="iconfont icon-arrowDown pull-right"></i></div>
  <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>
            证件编号
          </th>
          <th>证件名称</th>
          <th>颁证单位</th>
          <th>是否挂失</th>
          <th>最新时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>14884569389283</td>
          <td>食品产品许可证</td>
          <td>食药监局</td>
          <td>否</td>
          <td>最新时间</td>
          <td>
            <button type="button" class="btn  btn-default"><i class="iconfont icon-yanjing margin-right-5"></i>查看
                                </button>
            <button type="button" class="btn  btn-default"><i class="iconfont icon-lishi margin-right-5"></i>历史版本
                                </button>
          </td>
        </tr>
        <tr>
          <td>14884569389283</td>
          <td>食品产品许可证</td>
          <td>食药监局</td>
          <td>否</td>
          <td>最新时间</td>
          <td>
            <button type="button" class="btn  btn-default"><i class="iconfont icon-yanjing margin-right-5"></i>查看
                                </button>
            <button type="button" class="btn  btn-default"><i class="iconfont icon-lishi margin-right-5"></i>历史版本
                                </button>
          </td>
        </tr>

        <tr>
          <td>14884569389283</td>
          <td>食品产品许可证</td>
          <td>食药监局</td>
          <td>否</td>
          <td>最新时间</td>
          <td>
            <button type="button" class="btn  btn-default"><i class="iconfont icon-yanjing margin-right-5"></i>查看
                                </button>
            <button type="button" class="btn  btn-default"><i class="iconfont icon-lishi margin-right-5"></i>历史版本
                                </button>
          </td>
        </tr>

        <tr>
          <td>14884569389283</td>
          <td>食品产品许可证</td>
          <td>食药监局</td>
          <td>否</td>
          <td>最新时间</td>
          <td>
            <button type="button" class="btn  btn-default"><i class="iconfont icon-yanjing margin-right-5"></i>查看
                                </button>
            <button type="button" class="btn  btn-default"><i class="iconfont icon-lishi margin-right-5"></i>历史版本
                                </button>
          </td>
        </tr>

        <tr>
          <td>14884569389283</td>
          <td>食品产品许可证</td>
          <td>食药监局</td>
          <td>否</td>
          <td>最新时间</td>
          <td>
            <button type="button" class="btn  btn-default"><i class="iconfont icon-yanjing margin-right-5"></i>查看
                                </button>
            <button type="button" class="btn  btn-default"><i class="iconfont icon-lishi margin-right-5"></i>历史版本
                                </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>