<div class="row margin-0" id="main-content">
  <div class="col-md-12 row">
    <h4 class="col-md-12">停车位管理</h4>
    <div class="col-md-12 parking ">
      <div class="col-md-9 tab clearPadding">
        <span class="active">全部</span>
        <span>地下</span>
        <span>地上</span>
        <span>立体</span>
      </div>
      <div class="col-md-3 text clearPadding">
        <i class="iconfont icon-sousuo-sousuo seach"></i>
        <input type="text" placeholder="请输入搜索车辆" class="col-md-12 clearPadding">
      </div>
    </div>
    <div class="car">
      <div class="stopCarbox col-md-12 clearPadding">
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A01</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A02</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A03</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A04</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
      </div>
      <div class="stopCarbox col-md-12 clearPadding">
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A05</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A06</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A07</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A08</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
      </div>
      <div class="stopCarbox col-md-12 clearPadding">
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A09</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A10</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A11</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
        <div class="col-md-3 col-xs-6 stopCar">
          <div class="clearPadding col-md-12 card">
            <i class="iconfont icon-1 iconCard"></i>
          </div>
          <div class="col-md-12 title">
            <p class="clearMargin">B2层：A12</p>
            <p class="clearMargin">类型：<span>充电车位</span></p>
            <i class="iconfont icon-gengduo1 more"></i>
          </div>
        </div>
      </div>
      <div class="paging">

      </div>
    </div>
  </div>
</div>
