<div class="row margin-0" id="main-content">
  <section style="background-color: #fff" id="daibanfawen">

    <div class="section-title">
      待办发文
    </div>
    <div class="sectors visible-xs">
      <span class="iconfont icon-down-copy-copy" style="

"></span>
      <select class="" style="
">

        <option>
            市发改委
        </option>
        <option>
            市科技局
        </option>
        <option>
            市文广新局

        </option>
        <option>
            市审计局

        </option>
        <option>
            市工信局

        </option>
        <option>
            市公安局

        </option>
        <option>
            市卫计局

        </option>
        <option>
            市林业局

        </option>
        <option>
            市民委

        </option>
        <option>
            市民政局

        </option>
        <option>
            市国土局

        </option>
        <option>
            市民产局

        </option>
        <option>
            市规划局

        </option>
        <option>
            城管执法局

        </option>
        <option>
            市水利局

        </option>
        <option>
            市外事办

        </option>
        <option>
            市质监局

        </option>
        <option>
            市旅游局

        </option>
        <option>
            市粮食局

        </option>
        <option>
            市人防办

        </option>
        <option>
            市物价局

        </option>
        <option>
            市老龄办

        </option>
        <option>
            市司法局

        </option>
        <option>
            市人社局

        </option>
        <option>
            市环保局

        </option>
        <option>
            市建委

        </option>
        <option>
            市政公用局

        </option>
        <option>
            市交通局

        </option>
        <option>
            市体育局

        </option>
        <option>
            市农委

        </option>
        <option>
            市工商局

        </option>
        <option>
            市食药监局

        </option>
        <option>
            市金融办

        </option>
        <option>
            市地震局

        </option>
        <option>
            市公积金

        </option>

    </select>

    </div>


    <form id="search" class="clearfix text-center ">
      <div class="display-ingline-block clearfix">
        <!--<label for="" class="pull-left text-center col-xs-2 padding-0" style="line-height: 28px;">全部</label>-->
        <input type="text" name="" id="" class="form-control pull-left">

        <a href="#" class="glyphicon glyphicon-search pull-left" type="submit"></a>
        <!--<input type="submit" class="btn btn-default" value="搜索">-->
      </div>
    </form>
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-pills nav-tabs-underline" role="tablist">
        <li role="presentation" class="active"><a href="#tab-pane1" aria-controls="tab-pane1" role="tab" data-toggle="tab">全部</a>
        </li>
        <li role="presentation"><a href="#tab-pane2" aria-controls="tab-pane2" role="tab" data-toggle="tab">拟稿</a>
        </li>
        <li role="presentation"><a href="#tab-pane3" aria-controls="tab-pane3" role="tab" data-toggle="tab">核稿</a>
        </li>
        <li role="presentation"><a href="#tab-pane4" aria-controls="tab-pane4" role="tab" data-toggle="tab">会签</a>
        </li>
        <li role="presentation"><a href="#tab-pane5" aria-controls="tab-pane5" role="tab" data-toggle="tab">签发</a>
        </li>
        <li role="presentation"><a href="#tab-pane6" aria-controls="tab-pane6" role="tab" data-toggle="tab">套红</a>
          <li role="presentation"><a href="#tab-pane7" aria-controls="tab-pane7" role="tab" data-toggle="tab">红章</a>
            <li role="presentation"><a href="#tab-pane8" aria-controls="tab-pane8" role="tab" data-toggle="tab">打印</a>
              <li role="presentation"><a href="#tab-pane9" aria-controls="tab-pane9" role="tab" data-toggle="tab">分发</a>
                <li role="presentation"><a href="#tab-pane10" aria-controls="tab-pane10" role="tab" data-toggle="tab">查收</a>
                </li>
      </ul>
      <div class="btn-group-wrapper">
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-refresh margin-right-5"></i>刷新</button>
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></button>
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-send"></i></button>
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-print"></i></button>
        </div>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active zj-creater" id="tab-pane1">
          <!--创建人弹出框-->
          <div class="creater">
            <div class="creater-top">
              <a href="#" class="close"><i class="iconfont icon-close1"></i></a>
              <div class="creater-t-r clearfix">
                <ul>
                  <li><a href=""><i class="iconfont icon-iconfontweixin"></i></a></li>
                  <li><a href=""><i class="iconfont icon-xinlang1"></i></a></li>
                  <li><a href=""><i class="iconfont icon-xinfeng1"></i></a></li>
                  <li><a href=""><i class="iconfont icon-jujiaodaohanglanicon03"></i></a></li>
                </ul>
              </div>
              <div class="creater-t-l">
                <div class="img-radius">
                  <img src="../../assets/images/siginbg.jpeg" alt="">
                </div>
                <p>杨志斌</p>
                <span>文化局行政部门</span>
              </div>
            </div>
            <div class="creater-body">
              <div class="creater-header">
                <ul class="nav nav-pills nav-tabs-underline">
                  <li class="active">
                    <a href="#home" data-toggle="tab"><i class="iconfont icon-ren1 padding-right-5"></i>个人详情</a>
                  </li>
                  <li>
                    <a href="#code" data-toggle="tab"><i class="iconfont icon-mingpianxuanzhong01 padding-right-5"></i>名片二维码</a>
                  </li>
                </ul>
              </div>

              <div class="tab-content ">
                <div class="tab-pane active" id="home">
                  <ol>
                    <li>工号：790367892</li>
                    <li>部门：文化局</li>
                    <li>岗位：行政专员</li>
                    <li>手机：13013010133</li>
                    <li>邮箱：yangzihbin@hotmail.com</li>
                  </ol>
                </div>
                <div class="tab-pane" id="code">
                  <img src="../../assets/images/code.png" alt="">
                </div>
              </div>
            </div>

          </div>
          <section class="xtt-table">

            <div class="table-responsive">
              <table class="table table-striped b-t b-light">
                <thead>
                  <tr>
                    <th>
                      请求标题
                    </th>
                    <th>创建人</th>
                    <th>未操作者</th>
                    <th>创建日期</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="creater-tbody">
                  <tr>
                    <td class="position-relative"><input type="checkbox" style="position: absolute;left: 20px;top:16px;"><a href="#">食品产品许可证食品产品许可证</a></td>
                    <td><a href="#" class="btn-creater">杨文元</a></td>
                    <td>Raly</td>
                    <td>2017-03-01</td>
                    <td><i class="iconfont icon-clip"></i></td>

                  </tr>

                  <tr>
                    <td class="position-relative"><input type="checkbox" style="position: absolute;left: 20px;top:16px;"><a href="#">食品产品许可证食品产品许可证</a></td>
                    <td><a href="#" class="btn-creater">杨文元</a></td>
                    <td>Raly</td>
                    <td>2017-03-01</td>
                    <td><i class="iconfont icon-clip"></i></td>

                  </tr>
                  <tr>
                    <td class="position-relative"><input type="checkbox" style="position: absolute;left: 20px;top:16px;"><a href="#">食品产品许可证食品产品许可证</a></td>
                    <td><a href="#" class="btn-creater">杨文元</a></td>
                    <td>Raly</td>
                    <td>2017-03-01</td>
                    <td><i class="iconfont icon-clip"></i></td>

                  </tr>
                  <tr>
                    <td class="position-relative"><input type="checkbox" style="position: absolute;left: 20px;top:16px;"><a href="#">食品产品许可证食品产品许可证</a></td>
                    <td><a href="#" class="btn-creater">杨文元</a></td>
                    <td>Raly</td>
                    <td>2017-03-01</td>
                    <td><i class="iconfont icon-clip"></i></td>

                  </tr>
                  <tr>
                    <td class="position-relative"><input type="checkbox" style="position: absolute;left: 20px;top:16px;"><a href="#">食品产品许可证食品产品许可证</a></td>
                    <td><a href="#" class="btn-creater">杨文元</a></td>
                    <td>Raly</td>
                    <td>2017-03-01</td>
                    <td><i class="iconfont icon-clip"></i></td>

                  </tr>

                </tbody>
              </table>

            </div>

          </section>
        </div>
      </div>
    </div>
  </section>
</div>