<div class="row margin-0" id="main-content">
  <div class="row">
    <h4 class="col-md-12">收入统计</h4>
    <div class="col-md-12">
      <div class="col-md-6 leftBox">
        <h5>支付渠道统计</h5>
        <div [ng2-echarts]="option" style="width: 220px;height: 200px;" class="canvas_one"></div>
        <table border="1">
          <tr>
            <td>支付渠道</td>
            <td>金额</td>
          </tr>
          <tr>
            <td>信用</td>
            <td>1,578.00</td>
          </tr>
          <tr>
            <td>微信</td>
            <td>1,578.00</td>
          </tr>
          <tr>
            <td>支付宝</td>
            <td>1,578.00</td>
          </tr>
          <tr>
            <td>城市一通</td>
            <td>1,578.00</td>
          </tr>
          <tr>
            <td>现金</td>
            <td>1,578.00</td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 rightBox">
        <h5>停车场收入对比</h5>
        <div [ng2-echarts]="option2" style="width: 100%;height: 290px;position: absolute;top: 0;" class="canvas_twe"></div>
      </div>
    </div>
    <div class="col-md-12 bootBox">
      <h5>车库收入走势</h5>
      <div class="col-md-12"[ng2-echarts]="option3" style="height: 400px;" id="canvas3"></div>
    </div>
  </div>
</div>
