@import "font.scss";
@import "definition.scss";

//body-----20170323
body {
  font-size: 16px;
  color: #333;
  @include font-hei;
  background-color: $bg-color;

}

//ul,li
ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

label {
  margin-bottom: 0;
}

//h1-h6
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-style: normal;
}

input {
  outline: none;
}

//input[type="text"], input[type="password"] {
//  text-indent: 10px;
//  -webkit-box-shadow: none;
//  box-shadow: none;
//  border-color: $border-color;
//  height: 28px;
//  padding: 3px 12px;
//}

//a
a {
  color: $font-color-base;
}

a:focus, a:hover {
  color: $font-color-hover;
  text-decoration: none;
}

//margin&padding
.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

@each $mgpdElement in $mgpd {
  @each $directionElement in $direction {
    @each $num in $nums {
      .#{$mgpdElement}-#{$directionElement}-#{$num} {
        #{$mgpdElement}-#{$directionElement}: #{$num}px;
      }
    }
  }
}

//display
.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-ingline-block {
  display: inline-block;
}

//position
.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

//text&font
.text-indent-1 {
  text-indent: 1em;
}

.text-indent-2 {
  text-indent: 2em;
}

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@for $i from 12 through 40 {
  .font-#{$i} {
    font-size: #{$i}px;
  }
}

//font-colors
//@each $color in $colors{
//  .color-#{$color}{
//    color:#{$color};
//  }
//}
//width&height
//@each $num in $nums{
//  .width-#{$num}{
//    width:#{$num};
//  };
//  .height-#{$num}{
//    height:#{$num};
//  }
//}
.box-shadow-dark {
  -webkit-box-shadow: 0 0 6px 1px #dddddd;
  -moz-box-shadow: 0 0 6px 1px #dddddd;
  box-shadow: 0 0 6px 1px #dddddd;

}

.vertical-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  @extend %translateY
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%
}

.border-right-solid {
  border-right: 1px solid $border-color;
}

.border-right-dotted {
  border-right: 1px dotted $border-color;
}

.border-right-dotted-hidden-xs {
  border-right: 1px dotted $border-color;
}

.border-right-solid-hidden-xs {
  border-right: 1px solid $border-color;
}

.border-right-dotted-hidden-sm {
  border-right: 1px dotted $border-color;
}

.border-right-solid-hidden-sm {
  border-right: 1px solid $border-color;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #999;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}

.dot-color1 {
  background-color: #7266ba;
}

.dot-color2 {
  background-color: #23b7e5;
}

.dot-color3 {
  background-color: #fad733;
}

.bg-white {
  background-color: #fff;
}

.btn-style1 {
  display: inline-block;
  padding: 0 2em;
  background-color: $button-bg-active;
  color: #fff;
  line-height: 2em;
  &:hover, &:focus {
    color: #fff;
    background-color: darken($button-bg-active, 20%);
  }
}

.radius5 {
  border-radius: 5px;
}

.panel-border-style1 {
  border: 1px solid $border-color;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.animated-panel {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@media screen and (max-width: 767px) {
  .border-right-dotted-hidden-xs {
    border-right: none;
  }
  .border-right-solid-hidden-xs {
    border-right: none;
  }

}

.verticalAlign-middle {
  vertical-align: middle;
}

@media screen and (max-width: 991px) {

  .border-right-dotted-hidden-sm {
    border-right: none;
  }
  .border-right-solid-hidden-sm {
    border-right: none;
  }
}

.slideanim {
  visibility: hidden;
}

.slide {
  -webkit-animation-name: slide;
  -moz-animation-name: slide;
  -o-animation-name: slide;
  animation-name: slide;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  visibility: visible;
}

.slidedown {
  -webkit-animation-name: slideDwon;
  -moz-animation-name: slideDwon;
  -o-animation-name: slideDwon;
  animation-name: slideDwon;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  visibility: visible;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    -moz-transform: translateY(70%);
    -ms-transform: translateY(70%);
    -o-transform: translateY(70%);
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-moz-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    -moz-transform: translateY(70%);
    -ms-transform: translateY(70%);
    -o-transform: translateY(70%);
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
.haah{
  background-color: red;
}
@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    -moz-transform: translateY(70%);
    -ms-transform: translateY(70%);
    -o-transform: translateY(70%);
    transform: translateY(70%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-moz-keyframes slideDwon {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
    transform: translateY(-70%);
  }

  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDwon {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
    transform: translateY(-70%);
  }

  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideDwon {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
    transform: translateY(-70%);
  }

  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
  }
}
