$widthRange: xs sm md lg;
$direction: top left right bottom;
$mgpd: margin padding;
$nums: 0 5 10 15 20 25 30 35 40 45 50 60 70 80 90 100;
$colors:000 333 666 999 eee fff;
$font-color-base:#333;
$font-color-hover:#337ab7;
$border-color:#dee5e7;
$button-bg-active:#0091f8;
$bg-color:#f0f3f4;
$header-height:60px;
%transition {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
%transition-faster {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
%transition-slow {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
%radius5{-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
%translateY{
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}