@import "base.scss";
@import "modulars.scss";

.btn-group-wrapper{
  border-top:none;
}
.docLists {
  margin-right: -10px;
  margin-left: -10px;
  > div {
    margin-bottom: 20px;
    padding: 0 10px;
    > .wrapper {
      border: 1px solid $border-color;
      cursor: pointer;
      p {
        visibility: visible;
        padding: 15px;
        font-size: 14px;
        min-height: 100px;
      }
      .number {
        visibility: visible;
        background-color: #dee5e7;
        font-size: 14px;
        line-height: 28px;
        padding: 0 15px;
      }
      .tools {
        display: none;
        a {
          font-size: 14px;
          color: #999;
          &:hover,&:focus{
            color: $button-bg-active;
            text-decoration: underline;
          }
        }
      }
      &:hover, &:focus {
        p {
          visibility: hidden;
        }
        .number {
          visibility: hidden;
        }
        .tools {
          display: block;
        }
      }
    }
  }
}
.section-title{
  //border: 1px solid #dee5e7;
}
.xtt-table{
  border-top: none;
  margin: 0;

  >.wrapper{
    td{
      border-right: 1px solid #dee5e7;
    }
    td:last-child{
      border-right: none;
    }
    padding: 0;
    .checkbox{
      display: inline-block;
      vertical-align: middle;
      margin: 0 5px;
    }
  }
  .sign-select {
    width: 40%;
    padding-right: 34px;
    position: relative;
    select{
      border-radius: 0px !important;
    }
    button{
      position: absolute;
      right: 0;
      top: 0;
      height: 34px;
      width: 34px;
      background-color: #fff;
      outline: 0 !important;
      border: 1px solid #cfdadd;
    }
  }
  .sign-file{
    width: 70%;
    padding-right: 90px;
    position: relative;
    input{
      border-radius: 0 !important;
    }
    button{
      position: absolute;
      right: 0;
      top: 0;
      height: 34px;
      width: 90px;
      line-height: 34px;
      background-color: #fff;
      outline: 0 !important;
      border: 1px solid #cfdadd;
      border-left: 0;
    }


  }
  .change-w{
    width: 100%;
  }
  .zj-radio{
    li{
      margin:auto 20px;
      float: left;
      input[type=radio]{
        margin-right: 10px;
      }
    }
  }
  .text-l{
    text-align: left !important;
  }
  .td-code{
    margin-top: 20px;
    text-align: center;
    .btn-keep,.btn-success{
      width: 90px;
    }
  }

  .table-footer{
    position: relative;
    .make-code{
      padding-top: 20px;
      background-color: #fff;
      border: 1px solid #e3e3e3;
      width: 40%;
      box-shadow: 0 0 15px 1px #cbcbcb;
      position: absolute;
      top: -300px;
      left: 240px;
      display: none;
      //background: green;
      div{
        margin: 20px auto;
        text-align: center;
      }
      input{
        text-align: center;
      }
      .code{
        width: 100%;
        margin: 10px auto;
      }

    }
  }
  .noRadius{
    overflow: hidden;
    position: relative;
    border-right: none;
    select{
      position: absolute;
      left: -2px;
      top: -2px;
      width: 102%;
      height: 111%;
    }
  }

}
.panel-default {
  border: none;
  .panel-heading {
    background-color: #edf1f2;
    border: none;
    cursor: pointer;
    .panel-title {
      a {
        display: block;
        color: #999;
        text-align: center;
        i {
          font-size: 10px;
          @extend %transition-faster;
          display: inline-block;

        }
      }
    }

  }
  .panel-collapse {
    display: none;
    @extend %transition-faster;

  }
  &.active {
    .panel-heading {
      .panel-title {
        a {
          i.pull-right {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
          }
        }
      }
    }
    .panel-collapse {
      display: block;
      > .panel-body {
        //border: 1px solid #eee;
        border-bottom: none;
        border-top: none;
        border-top-color: transparent;
      }
    }
  }
}

@mixin document-h3 {
  h3 {
    font-size: 16px;
    font-style: normal;
    margin-bottom: 20px;
    i {
      margin-right: 1em;
    }
  }

}

.sub-content-part1 {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  @include document-h3;

  font-size: 14px;
  p {
    color: #666;
    margin-bottom: 15px;
    a {
      color: $button-bg-active;
      &:hover, &:focus {
        text-decoration: underline;
        color: darken($button-bg-active, 20%);
      }
    }
  }

}

.sub-content-part2 {
  background-color: #fff;
  //margin-top: 10px;
  padding: 15px;
  border-right: 1px solid $border-color;
}

.addMore {

  display: block;
  background-color: $button-bg-active;
  color: white;
  text-align: center;
  height: 38px;
  line-height: 38px;
  .pull-left {
    width: 38px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    background-color: #0280da;
  }
  i {
    font-size: 18px;
    position: relative;
    top: 2px;
  }
  &:hover, &:focus {
    color: #fff;
    background-color: darken($button-bg-active, 20%);
    .pull-left {
      background-color: darken(#0280da, 20%);
    }
  }
}

.panel-group .panel + .panel {
  //margin-top: 20px;
}

//.form-horizontal .form-group {
//  margin: 0px;
//  margin-bottom: 15px;
//  > .control-label {
//    text-align: left;
//    padding: 0px;
//    color: #666;
//    font-weight: normal;
//    margin-top: 4px;
//  }
//  > div {
//    padding: 0px;
//  }
//}

.sideNav-sub {
  border-right: 1px solid $border-color;
  .navlists ul li a {
    text-align: center;
    text-indent: 0em;
  }
}
#search {
  //border-left: none;
}
.creat-l{
  width: 30%;
  float: left;
}
.creat-r{
  width: 70%;
  float: left;
}
.form-group .noRadius{
  overflow: hidden;
  position: relative;
  border-right: none;
  select{
    position: absolute;
    left: -2px;
    top: -2px;
    width: 104%;
    height: 111%;
  }
}
.xtt-form .wrapper {
  padding-bottom: 1px;
}
.zj-creater{
  position: relative;
  .creater{
    border: 1px solid #e3e3e3;
    width: 300px;
    box-shadow: 0 0 15px 1px #cbcbcb;
    text-align: center;
    background-color: #dee1e2;
    position: absolute;
    top: -130px;
    left: 240px;
    z-index: 3;
    display: none;
    .creater-top{
      margin-top: 30px;
      position: relative;
      .close>i{
        position: absolute;
        top: -28px;
        right: 5px;
      }
      .creater-t-l{
        margin: 0 auto;
        .img-radius{
          width: 80px;
          height: 80px;
          border: 3px solid #fff;
          border-radius: 50%;
          overflow: hidden;
          margin: 0 auto;
          margin-bottom: 10px;
          img{
            width:80px;
          }
        }
        span{
          font-size: 12px;
          display: block;
          margin-bottom: 20px;
        }
      }
      .creater-t-r{
        position: absolute;
        right: 20px;
        top: 10px;
        >ul{
          //border: 1px solid #000;
          background-color: #dee1e2;
          li{
            background-color: #dee1e2;
            border: 1px solid #fff;
            border-radius: 50%;
            overflow: hidden;
            width: 28px;
            height: 28px;
            margin-top: 5px;

          }
        }
      }

    }
    .creater-body{
      background-color: #fff;
      font-size: 12px;
      .creater-header li{
        text-align: center;
        width: 50%;
        font-size: 12px;
      }
      .tab-content{
        padding-bottom: 25px;
        ol{
          padding-left: 64px;
          padding-top: 20px;
          li{
            text-align: left;
            line-height:25px;
          }
        }

      }
    }


  }
}

