/*.sub-content .search{*/
    /*margin-left:10px;*/
    /*border: 2px solid rgb(219,227,228);*/

/*}*/
.search-header{
    padding-right: 190px;
}
.search-header div:nth-child(2){
    width: 100%;
    /*padding-right: 170px;*/
    border-right: 1px solid rgb(225,231,233);
    padding-top: 3px;
}
.search-header div:nth-child(1){
    width: 190px;
    position: absolute;
    right: 0px;
    top: 0px;
    padding-top:10px;
    padding-left: 20px;
}
.search-header button{
    margin-right: 45px;
    font-size: 12px;
}
.section-title span{
    display: block;
    position: absolute;
    top: 13px;
    right: 20px;
}
.xtt-form {
    border: 1px solid #dee5e7;
    position: relative;
    }
.search-form{
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
}
.form-horizontal label{
    font-size: 12px;
}
/*manage*/
 .manage{
     margin-left:10px;
     margin-top: 10px;
     border: 2px solid rgb(219,227,228);
 }
 .manage .table,th{
     text-align: center;

 }
 .manage .table{
     background-color: #fff;
     font-size: 12px;
 }
 .manage .table-top{
     height: 50px;
     background-color: rgb(246,248,248);
     line-height: 50px;
     border-bottom: rgb(223, 229, 229) solid 1px;
     padding-left: 20px;
     font-size: 14px;
 }
.btn-mag{
    font-size: 10px;
    line-height: 25px;
    padding:0 6px;
}
.form-horizontal label {
    margin-left: 0;
}
.form-horizontal button {
    margin: 10px auto;
}

